<div class="mt-5"></div>
<!-- <div class="mt-5"></div>
<div class="max-auto m-lg-4" style="width: 70%;">
  <app-product></app-product>
</div> -->



<!-- <div class="container">
  <div class="row">
    <div class="mt-5"></div>
    <div class="max-auto m-lg-4" style="width: 100%;">
      
      <app-suggested-product></app-suggested-product>
    </div>
  </div>
</div> -->

<!-- <app-suggested-product></app-suggested-product> -->
<!-- <app-home></app-home> -->
<!-- <app-products></app-products> -->
<!-- <app-product-detail></app-product-detail> -->
<!-- <app-cart></app-cart> -->
<!-- <app-order></app-order> -->
<app-header></app-header>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>